.button {
  cursor: pointer;
  text-align: center;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid var(--logo-color);
}

.button:hover {
  scale: 110%;
  transform-origin: left;
}
