.input {
  margin-right: 32px;
  margin-bottom: 24px;
  width: 200px;
  font-size: 16px;
  color: var(--hover-color);
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid var(--logo-color);
  transition: border 0.3s ease;
}

.input:focus {
  border: none;
  outline: 2px solid var(--main-font-color);
}

.button {
  cursor: pointer;
  text-align: center;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 6px;
  background: var(--group-background);
  border: 1px solid var(--logo-color);
}
